body {
    font-family: 'Josefin Slab', serif, 'Electrolize', sans-serif;
	margin: 1vh 5vh;
}

section {
	border: 1px dotted black;
}

#contact img {
	width: 60px;
	display: block;
	margin: auto;
}

#contact p {
	text-align: center;
}

#activities {
	margin: 2vh 0;
}