{
	"env": {
		"browser": true,
		"es2021": true,
		"node": true
	},
	"extends": [
		"next",
		"plugin:react/recommended",
		"airbnb",
		"plugin:@typescript-eslint/recommended",
		"plugin:prettier/recommended",
		"prettier/@typescript-eslint",
		"prettier/react"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "eslint-plugin-import-helpers", "prettier"],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"camelcase": "off",

		"import/extensions": ["warn", { ".ts": "never", ".tsx": "never" }],
		"import/prefer-default-export": "off",

		"import-helpers/order-imports": [
			"error",
			{
				"newlinesBetween": "always",
				"groups": ["module", "parent", "sibling", "index"],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		],

		"prettier/prettier": "error",

		"react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
		"react/jsx-indent": [
			"warn",
			"tab",
			{ "checkAttributes": true, "indentLogicalExpressions": true }
		],
		"react/jsx-indent-props": ["warn", "tab"],
		"react/jsx-props-no-spreading": "off",
		"react/prop-types": "off",
		"react/react-in-jsx-scope": "off"
	}
}
